<?xml version="1.0" encoding="utf-8" ?>
<Parameters>
  <Parameter Name="MetadataDocumentUri"
             Value="http://localhost/2047469/odata"></Parameter>
  <Parameter Name="UseDataServiceCollection"
             Value="true"></Parameter>
  <Parameter Name="NameSpacePrefix"
             Value="ProductsApp"></Parameter>
  <Parameter Name="TargetLanguage"
             Value="CSharp"></Parameter>
</Parameters>